<%- include("_partials/header.ejs"); %>

<h1>Account</h1>


<% if (locals.user) { %>
<h3>
  SIGNED IN
</h3>
<p>
  User ID: <%= locals.user.id %>
</p>
<p>
  ID_TOKEN: <%= locals.user.id_token %>
</p>
<% } %>
