<%- include("_partials/header.ejs"); %>

<h1>Example Client Application</h1>

<ul style="padding-left: 1rem;">
  <li>
    <a href="/debug/login">Login (Debug)</a>
  </li>
  <li>
    <a href="/login/openidconnect">Login (OpenIDConnect)</a>
  </li>
  <li>
    <a href="/login/oauth2">Login (PKCE)</a>
  </li>
</ul>

<%- include("_partials/footer.ejs"); %>