
<style>
  * {
    font-family: "HK Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  html {
    padding: 1rem;
  }
</style>
<div>
  <a href="/">Home</a>
  <a href="/account">Account</a>
  
  <% if (locals.user) { %>
  <a href="/logout">Logout</a>
  <% } else { %>
  <a href="/login">Login</a>
  <% } %>

</div>


